@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');

.background {
	position: relative;
	background-color: #282c34;
	min-width: 100vw;
    min-height: 100vh;
	margin: 0;
}

.game-container {
    position: relative;
	/* border: 7px solid rgba(255, 255, 255, 0.2);
	border-radius: 8px; */
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
    align-items: center;
    width: 100vw;
	height: 70vh;
}

.videoWrapper {
	position: relative;
	border: 7px solid rgba(255, 255, 255, 0.2);
	border-radius: 8px;
	/* width: 640px;
	height: 480px; */
    max-width: 45vw;
    max-height: 65vh;
    display: block;
    margin-right: 2vw;
    float: left;
}

.RPSvideo {
	position: relative;
	text-align: center;
	width: 98%;
	height: 98%;
    display: block;
    margin-left: auto;
    margin-right: auto;
	transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}

.imageWrapper {
    position: relative;
    border: 7px solid rgba(255, 255, 255, 0.2);
	border-radius: 8px;
    /* width: 640px;
	height: 480px; */
    max-width: 35vw;
    max-height: 55vh;
    display: block;
    margin-left: 2vw;
    float: right;
}

.RPSimage {
	position: relative;
	text-align: center;
	width: 95%;
	height: 95%;
    max-width: 34vw;
    max-height: 54vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.loading-status {
	font-family: 'Luxurious Roman', cursive;
	position: relative;
	margin: 0;
	padding: 15px 0 0 0;
	color: white;
	text-align: center;
}

.gesture-score {
    font-family: 'Luxurious Roman', cursive;
    position: relative;
    margin: 0;
	padding: 15px 0 0 0;
	color: white;
	text-align: center;
}

.btn-containers {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top:20px;
}


.btn {
    padding: 15px 25px 15px 25px;
    border-radius: 3px;
    border-width: 5px;
    background-color: rgba(129, 129, 129, 0.2);
    color: white;
    margin: 0 40px;
}

.btn:hover{
    border-color: white;
}